/**
 * jQuery bxSlider customs
 */
.bx-wrapper .bx-pager.bx-default-pager a
{
	background: #95CCF4;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus
{
	background: #6BB9F0;
}

/**
 * Prestashop Homeslider module fix for navigation controls
 */
#homepage-slider .bx-wrapper .bx-controls-direction a {
	background: none;
}

/**
 * Filter on images
 */

.brand > img {
	filter: url(desaturate.svg#greyscale);
	filter: gray;
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	opacity: 0.4;
}

.brand:hover img {
	filter: none;
	-webkit-filter: none;
	-moz-filter: none;
	-o-filter: none;
	opacity: 1;
}